@if (gameMap && position) {
  <div
    class="guard"
    [style.left.%]="((position.x + 0.5) / gameMap.width) * 100"
    [style.top.%]="((position.y + 0.5) / gameMap.height) * 100"
    [style.width.%]="(guardScale / gameMap.width) * 100"
    [style.height.%]="(guardScale / gameMap.height) * 100"
  >
    <div
      class="guard-range"
      [ngClass]="'guard-range--' + facingDirection"
      [style.width.%]="((visionRadius * 2.2) / gameMap.width) * 100"
      [style.height.%]="((visionRadius * 2.2) / gameMap.height) * 100"
    ></div>
    <img
      class="guard-sprite"
      [src]="currentImage"
      alt="Guard"
      draggable="false"
    />
  </div>
}