<div class="menu-container">

  <button
    type="button"
    class="menu-button play-button"
    (click)="play()">
    PLAY
  </button>

  <button
    type="button"
    class="menu-button"
    (click)="howToPlay()">
    HOW TO PLAY
  </button>

  <button
    type="button"
    class="menu-button"
    (click)="aboutUs()">
    ABOUT US
  </button>

  <button
    type="button"
    class="menu-button"
    (click)="profile()">
    PROFILE
  </button>

  <button
    type="button"
    class="menu-button"
    (click)="logout()">
    LOGOUT
  </button>

</div>