<div class="game-map" *ngIf="gameMap">
  <div
    class="wall"
    *ngFor="let wall of wallPositions"
    [ngStyle]="getWallStyle(wall)"
  >
    <img class="wall-img" src="/assets/images/wall.png" alt="Wall">
  </div>
  <app-trap [gameMap]="gameMap"></app-trap>
  <app-player [gameMap]="gameMap"></app-player>
  <app-guard *ngFor="let guard of guards" [gameMap]="gameMap" [guardConfig]="guard"></app-guard>
  <app-exit [gameMap]="gameMap"></app-exit>
  <app-diamond [gameMap]="gameMap"></app-diamond>
</div>
